<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>No Barrier Video Calls</title><!-- Bootstrap core CSS-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <!-- Importing Inter-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
        rel="stylesheet">
    <link href="css/home.css" rel="stylesheet" type="text/css">
    <link href="https://getbootstrap.com/docs/5.0/examples/cover/cover.css" rel="stylesheet">
</head>

<body class="d-flex h-100 text-center text-white bg-dark">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="mb-auto">
            <div>
                <h3 class="float-md-start mb-0">No Barrier Calls</h3>
                <nav class="nav nav-masthead justify-content-center float-md-end">
                    <a aria-current="page" href="#" class="nav-link active">Home</a>
                </nav>
            </div>
        </header>
        <main class="md-8">
            <h1><span class="highlight">No Barrier</span> Calls</h1>
            <p class="lead">Quick and dirty description here.</p>
            <p class="lead">
                <a href="https://localhost:3000/room/" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Create Room</a>
            </p>
        </main>
        <footer class="mt-auto text-white-50">
            <p>Adapted from the Cover template by <a href="https://twitter.com/mdo" class="text-white">@mdo</a>.</p>
        </footer>
    </div>
</body>

</html>